.root{
    -fx-background-image: url(/sample/assets/avengers.png), url(/sample/assets/logo.png);
    -fx-background-repeat: stretch, no-repeat;
    -fx-background-size: auto, 520 290;
    -fx-background-position: center, right bottom;
}

.menu-bar{
    -fx-background-color: #BCC8B3;
    -fx-border-color: #000;
    -fx-border-width: 2;
}

.menu:hover{
    -fx-background-color: #000;
    -fx-font-weight: bold;
}

.label:hover{
    -fx-font-size: 15 pt;
    -fx-text-fill: green;
}

.menu-item{
    -fx-background-color: #4E9A1B;
    -fx-border-color: #000;
}

#rubensin{

}